<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<bean id="dateEditor" class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg>
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg value="yyyy-MM-dd HH:mm:ss" />
			</bean>
		</constructor-arg>
		<constructor-arg value="true" />
	</bean>
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<ref local="dateEditor" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="counterTask" class="job.task.CounterTask" init-method="init">
		<property name="step" value="300"></property>
		<property name="countTime" value="CounterTask_countTime"></property>
		<property name="begin" value="2015-08-25 23:21:31"></property>
	</bean>

	<bean id="userCountTask" class="job.task.UserCounterTask" init-method="init">
		<property name="step" value="300"></property>
		<property name="countTime" value="UserCounterTask_countTime"></property>
		<property name="begin" value="2015-08-25 23:21:31"></property>
	</bean>

	<bean id="monthPraiseTask" class="job.task.MonthPraiseTask">
		<property name="step" value="2592000"></property>
		<property name="limit" value="100"></property>
	</bean>

	<task:scheduled-tasks scheduler="myScheduler">
		<task:scheduled ref="counterTask" method="work" cron="* 0/2 * * * ?" />
		<task:scheduled ref="userCountTask" method="work" cron="* 0/2 * * * ?" />
		<task:scheduled ref="monthPraiseTask" method="work" cron="0 59 23 * * ?" /><!--0 59 23 * * ?-->
	</task:scheduled-tasks>
	<task:scheduler id="myScheduler" pool-size="10"/>
</beans>
